* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  font-size: 20px;
}
